@page
@model LoginModel
@{
    Layout = "~/Areas/Identity/Pages/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<h2 class="text-center text-success mb-4">Welcome Back</h2>

<form id="account" method="post">
    <div class="form-group mb-3">
        <label asp-for="Input.Email" class="form-label text-success"></label>
        <input asp-for="Input.Email" class="form-control border-success" autocomplete="username" placeholder="name@example.com" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Input.Password" class="form-label text-success"></label>
        <input asp-for="Input.Password" class="form-control border-success" type="password" autocomplete="current-password" placeholder="Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" asp-for="Input.RememberMe" />
        <label asp-for="Input.RememberMe" class="form-check-label text-success"></label>
    </div>

    <button id="login-submit" type="submit" class="btn btn-success w-100">Log in</button>

    <div class="text-center mt-3">
        <p>
            Don’t have an account? <a asp-page="./Register" class="fw-bold">Register</a>
        </p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
